@font-face {
    font-family: 'fredoka-medium';
    src: url('assets/fonts/Fredoka-Medium.woff2') format('woff2');
}
body{
    background: #272330;
}

.title{
    color:rgb(248, 121, 10);
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "fredoka-medium" , 'sans-serif'  ;
}