@font-face {
    font-family: 'fredoka-medium';
    src: url('assets/fonts/Fredoka-Medium.woff2') format('woff2');
}
body{
    background: #272330;
}
.button{
    background-color: rgb(56, 56, 175);
    border: none;
    margin: 20px;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    font-size: 45px;
    color: white;
    padding: 5px;
    text-align: center;   
    
}
.js-cscore{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: fit-content;
    margin: 10px ;
    border-radius: 25px;
    padding: 5px 5px;
    font-family: 'fredoka-medium';
    text-align: center;
    font-weight: bold;
    background-color: #29bffa;
    margin: 10px 10px;
}
.js-hscore{
    font-size: 20px;
    width: 160px;
    height: fit-content;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 25px;
    display: inline-block;
    font-family: 'fredoka-medium';
    font-weight: bold;
    text-align: center;
    background-color: #29bffa;
}
.js-msg{
    font-size: 19px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    font-family: 'fredoka-medium';
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 8px;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: rgb(248, 121, 10);
         
}
.reset{
    width:  105px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    background-color: rgb(207, 191, 15);
    border: none;
    margin-top: 10px;
    border-radius: 20px; 
    font-family: 'fredoka-medium';
    text-align: center;
}

img{
   
    height: 80px;
}
.title{
    color:rgb(248, 121, 10);
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'fredoka-medium','sans-serif';
}
.js-hmove{
    color:rgb(248, 121, 10);
    display: inline-block;
    font-family: 'fredoka-medium';
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    text-align: center;
}
.js-cmove{
    color:rgb(248, 121, 10);
    display: inline-block;
    font-family: 'fredoka-medium';
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}
.js-cmove span{
    display: block; 
    margin-top: 15px;
}
.js-cmove img{
    display: block; 
}
.js-hmove span{
    display: block; 
    margin-top: 15px;
}
.js-hmove img{
    display: block; 
}


